/* Falling Leaves Animation */
.leaves {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.leaves i {
    position: absolute;
    display: block;
    width: 20px;
    height: 15px;
    background: #f8c8dc;
    border-radius: 0% 70%;
    top: -20px;
    animation: fall linear infinite;
}

.leaves i:nth-child(2n) {
    background: #f4a7c4;
    border-radius: 70% 0%;
}
.leaves i:nth-child(3n) {
    background: #f080ac;
    animation-duration: 12s;
    animation-delay: -5s;
}
.leaves i:nth-child(4n) {
    background: #e95493;
    animation-duration: 18s;
}

.leaves i:nth-child(1) { left: 10%; animation-duration: 15s; }
.leaves i:nth-child(2) { left: 20%; animation-duration: 10s; animation-delay: -2s; }
.leaves i:nth-child(3) { left: 30%; animation-duration: 20s; }
.leaves i:nth-child(4) { left: 40%; animation-duration: 13s; animation-delay: -5s; }
.leaves i:nth-child(5) { left: 50%; animation-duration: 18s; }
.leaves i:nth-child(6) { left: 60%; animation-duration: 12s; animation-delay: -10s; }
.leaves i:nth-child(7) { left: 70%; animation-duration: 16s; }
.leaves i:nth-child(8) { left: 80%; animation-duration: 11s; animation-delay: -3s; }
.leaves i:nth-child(9) { left: 90%; animation-duration: 19s; }
.leaves i:nth-child(10) { left: 5%; animation-duration: 14s; animation-delay: -8s; }
.leaves i:nth-child(11) { left: 15%; animation-duration: 17s; }
.leaves i:nth-child(12) { left: 25%; animation-duration: 11s; animation-delay: -4s; }
.leaves i:nth-child(13) { left: 35%; animation-duration: 22s; }
.leaves i:nth-child(14) { left: 45%; animation-duration: 14s; animation-delay: -6s; }
.leaves i:nth-child(15) { left: 55%; animation-duration: 20s; }

@keyframes fall {
    0% {
        top: -20px;
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
    100% {
        top: 105%;
        transform: translateX(50px) rotate(360deg);
        opacity: 0;
    }
}
