:host {
  display: block;
}

/* Fireworks Animation */
.fireworks-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}
.firework {
  position: absolute;
  width: 0.5vmin;
  height: 0.5vmin;
  border-radius: 50%;
  background: #fde047; /* amber-300 */
  box-shadow: 0 0 1vmin 0 #fde047;
  opacity: 0;
  animation: firework-animation 2s ease-out infinite;
}
.firework:nth-child(1) { top: 20%; left: 30%; animation-delay: 0s; }
.firework:nth-child(2) { top: 50%; left: 70%; animation-delay: 0.5s; }
.firework:nth-child(3) { top: 80%; left: 40%; animation-delay: 1s; }

@keyframes firework-animation {
  0% { transform: scale(0); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: scale(25) translate(0, 5vmin); opacity: 0; }
}