/* Animated Starry Background */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@keyframes move-twink-back2 {
    from {background-position:0 0;}
    to {background-position:-10000px 2500px;}
}

.stars-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
}

#stars, #stars2, #stars3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#stars {
    background: transparent url(https://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index: 1;
    animation: move-twink-back 200s linear infinite;
}

#stars2 {
    background: transparent url(https://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index: 2;
    animation: move-twink-back 150s linear infinite;
}

#stars3 {
    background: transparent url(https://www.script-tutorials.com/demos/360/images/clouds.png) repeat top center;
    z-index: 3;
    animation: move-twink-back2 200s linear infinite;
}
